* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
}

.card {
  width: 210px;
  height: 250px;
  border: 1px solid transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 15px;
  background-color: rgb(60, 62, 63);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.card > div {
  color: white;
}

.image_wrapper {
  object-fit: cover;
  position: relative;
}

.image_wrapper img {
  width: 100%;
}
.animal_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.social_wrapper {
  display: flex;
  justify-content: space-between;
  width: 80%;
  align-items: center;
  padding: 5px;
}

.social_wrapper button {
  padding: 5px;
  background-color: orange;
  cursor: pointer;
  border: none;
  border-radius: 3px;
}

.animalList_container {
  display: flex;
  flex-wrap: wrap;
}

.removeButton {
  position: absolute;
  right: 0;
  font-size: 19px;
  padding: 5px;
  cursor: pointer;
}

.container {
  text-align: center;
  padding: 10px;
}

.container input {
  border: 1px solid;
  border-radius: 3px;
  padding: 5px;
  width: 300px;
  height: 30px;
  margin: 5px;
}

.container h1 {
  font-size: 40px;
  color: rgb(59, 57, 57);
}
