.circle {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  margin-left: 15px;
  margin-right: 15px;
  border: none;
  background-image: url("C:/Users/hasan/Desktop/Helsinki_business_college_task/React_margit/speedGame_react/src/assets/images/football-clipart.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  cursor: pointer;
}

.conatiner {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
